.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin: auto;
}
.content_disclaimer {
  padding: 10px;
  margin: auto;
}
.content_paragraph {
  padding: 10px;
  margin: auto;
  width: 400px;
}
