.nav {
  display: flex;
  height: 40px;
}

.link {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.link:hover {
  background: rgba(221, 52, 52, 0.884);
}
.hamburger {
  cursor: pointer;
  position: absolute;
  right: 3%;
  margin-top: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
}

.menu > li {
  list-style-type: none;
}
